# node.js
/node_modules
npm-debug.log
/dist/
/dist/**

# Config files
config.ini

# Extensions
Thumbs.db
*.pyc
*~
.DS_Store
 mysql

# Temporary files
.~*
*.swp
db.sql

# Compiled code
/src/client/style/bundle.css
/src/bundle.js

# Test files
*.log
/coverage
