# node.js
/node_modules
npm-debug.log
/dist/
/dist/**
/dist/bundle.js
# Config files
database_config.ini
test_database_config.ini

# Extensions
Thumbs.db
*.pyc
*~

# Temporary files
.~*
*.swp

# Compiled code
/src/client/style/bundle.css
/src_compiled
/src/bundle.js

.DS_Store
mysql

*.log

/coverage

db.sql