/* Global */
$background-cy: #F4F4F4;

$background: #fff;
$background-highlighed: #eee;
$border-disabled: #f0f0f0;
$header-background: #777;

$text-color: #444;
$text-inverse: #fff;

$text-subtle: #999;
$text-inactive: #bbb;

$link-color: #777;
$link-hover-color: #4D6DE3;

$error: #CC0D37;



$warning-color: #E00;

$spacer-color: #D9D9D9;

$blue: #4498EF;
$light-blue: #99CCFF;



$type-colors: (
  1: #F9CEF9, /* sensory */
  2: #FF887A, /* inter */
  3: #B7DAF5, /* motor */
  4: #F9D77B, /* modulatory */
  5: #A8F5A2, /* muscle */
  6: #D9D9D9  /* other */
);

$nt-colors: (
  1: #FF887A, /* ach */
  2: #A8F5A2, /* dop */
  3: #99CCFF, /* gaba */
  4: #FCFF38, /* glu */
  5: #CFACFF, /* oct */
  6: #90FFCF, /* ser */
  7: #FFCE39, /* tyr */
  8: #D9D9D9, /* unknown */
  9: #FFFFFF  /* none */
);

$edge-colors: (
  typ0: #000000, /* default */
  typ2: #666666, /* gj */
  l1:   #2A9EFE, // juvenile
  ad:   #FF0000, // adult
  notImaged: #228B22, // not imaged
  pe: #990000,        // post embryonic
  st: black,          // stable
  vr: #d1cfcf         // variable
)


