$background-cy: #f4f4f4;

$background: #ffffff;
$background-highlighed: #eeeeee;
$border-disabled: #f0f0f0;
$header-background: #777777;

$text-color: #444444;
$text-inverse: #ffffff;

$text-subtle: #999999;
$text-inactive: #bbbbbb;

$link-color: #777;
$link-hover-color: #4d6de3;

$error: #cc0d37;



$warning-color: #ee0000;

$spacer-color: #d9d9d9;

$blue: #4498ef;
$light-blue: #99ccff;



$type-colors: (
  1: #f9cef9, // sensory
  2: #ff887a, // inter
  3: #b7daf5, // motor
  4: #f9d77b, // modulatory
  5: #a8f5a2, // muscle
  6: #d9d9d9  // other
);

$nt-colors: (
  1: #ff887a, // ach
  2: #a8f5a2, // dop
  3: #99ccff, // gaba
  4: #fcff38, // glu
  5: #cfacff, // oct
  6: #90ffcf, // ser
  7: #ffce39, // tyr
  8: #d9d9d9, // unknown
  9: #ffffff  // none
);

$edge-colors: (
  typ0: #000000, // chemical
  typ2: #666666, // gap junction
  l1:   #2a9efe, // juvenile
  ad:   #ff0000, // adult
  notClassified: #228b22, 
  pe: #990000,   // post embryonic
  st: black,     // stable
  vr: #d1cfcf    // variable
)


