@import 'vars';
@import 'reset';
@import 'jquery-contextMenu-2.7.1.min';
@import 'jquery-ui-1.12.1.min';
/*@import 'vue-select';*/
@import 'fonts';
@import 'colors';
@import 'icons';

/*@import 'neuron-trajectory';*/
@import 'searchbar';
@import 'sidebars';
@import 'legend';
@import 'notifications';
@import 'cyhidden';
@import 'help';
@import 'contextmenu';

@import 'mobile';


html, body, div, input, a, span {
  font-family: 'Open Sans', sans-serif !important;
  outline: 0;
  border-style: solid;
}
html, body {
  width: 100%;
  height: 100%; 
  background-color: $background-cy;
  overflow: hidden;
}
a, .a, .notification span, .smallhelp {
  cursor: pointer;
  color: $link-color;
  border-color: $link-color;
}
a, .a, .notification span {
  display: inline-block;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
a:hover, .a:hover, a:focus {
  color: $link-hover-color;
}
i {
  font-style: italic;
}
h1 {
  font-size: 20px;
  font-weight: 600;
  small {
    font-size: 16px;
  }
}
p {
  line-height: 125%;
}
b {
  font-weight: 600;
}
small {
  font-size: 12px;
}
span {
  font-size: inherit;
}

html {
  font-size: 16px;
}
button {
  cursor: pointer;
  border: 0;
  background-color: $blue;
  color: $text-inverse;
  &:hover {
    background-color: darken($blue, 10%);
  }
  transition: box-shadow 100ms cubic-bezier(0.52, 0, 0.48, 1) 0s;
  &:active {
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
  }
}

#cy {
  width: 100%; 
  height: 100%;
  overflow-y: hidden; // on zoom
  overflow-x: hidden; 
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
