/* Cover */
#cover {
  display: none; // changed with js
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: black; 
  opacity: 0.5;
  z-index: 29;
}

/* Screen size specific */
@media screen {
  #settings .header {
    padding: 10px 0;
  }
  #close-settings {
    height: 91px; /* 71 + 10 * 2 */
    line-height: 91px;
  }
  #logo {
    background-image: url('../image/logo.png');
    width: 200px;
    height: 71px;
  }

  .group {
    margin-top: 16px;
    margin-bottom: 16px;
    h1 {
      margin-bottom: 12px;
    }
    .checkbox, > div {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    .float-wrapper .checkbox:first-child {
      margin-right: 6px;
    }
  }
}
@media screen and (max-height: 860px) {
  .group {
    margin-top: 12px;
    margin-bottom: 12px;
    h1 {
      margin-bottom: 8px;
    }
    .checkbox, > div {
      margin-top: 4px;
      margin-bottom: 4px;
    }
    .float-wrapper .checkbox:first-child {
      margin-right: 4px;
    }
  }
}
@media screen and (max-height: 780px) {
  .group {
    margin-top: 8px;
    margin-bottom: 8px;
    h1 {
      margin-bottom: 6px;
    }
  }
}
@media screen and (max-height: 730px) {
  #settings .header {
    padding: 5px 0;
  }
  #close-settings {
    height: 67px; /* 57 + 5 * 2 */
    line-height: 67px;
  }
  #logo {
    background-image: url('../image/logo_small.png');
    width: 160px;
    height: 57px;
    margin-left: 10px;
  }
}



$sidenav-width: 320px;
$sidenav-padding: 16px;

%gray-border {
  border: 2px solid $spacer-color;
  border-radius: 4px;
}


#settings {
  height: 100%;
  width: 0; /* changed with JS */
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 30;
  transition: width 0.7s; /* when open/close */
  color: $text-color;

  /* Templates */
  #dataset-bookmark-template {
    display: none;
  }


  > div {
    background-color: $background;
    min-height: 100%; /* prevent gap at bottom on large screens */
    width: $sidenav-width;
    > :last-child { /* prevent gap at bottom on small screens */
      margin-bottom: 0;
      padding-bottom: 5px;
    }
  }

  /* Core elements */
  .spacer {
    height: 1px;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: $spacer-color;
  }
  .group {
    width: $sidenav-width - $sidenav-padding * 2;
  }
  .group, #logo {
    margin-left: $sidenav-padding;
  }
  .float-wrapper {
    @extend %no-collapse-on-children-float;
  }
  .float-children {
    > div {
      float: left;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  input {
    display: none;
  }
  label {
    display: block;
  }
  label, .button, #layout-refresh, #close-settings, .selectbox, .checkbox, .big-button {
    cursor: pointer;
  }
  #layout-refresh:hover, label:hover, .smallhelp:hover, .big-button:hover {
    color: $link-hover-color;
  }

  /* Header */
  .header {
    position: relative;
    #logo {
      background-repeat: no-repeat;
    }
    #close-settings {
      position: absolute;
      top: 0;
      right: 10px;
      font-weight: 600;
      color: $text-subtle;
    }
  }

  /* Selectbox */
  .selectbox {
    position: relative;
    width: 100%;
    background-color: $background;

    &:not(.active) .option-container {
      display: none;
    }
  }

  .sel-placeholder, .option-container > div {
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
  }

  .sel-placeholder {
    @extend %gray-border;
    border-radius: 8px;
    @extend .icon-angle-down;
  }
  .active .sel-placeholder {
    @extend .icon-angle-up;
  }
  .sel-placeholder::before {
    font-family: icomoon;
    position: absolute;
    right: 12px;
    top: 0;
    padding: 2px 0;
    color: $text-subtle;
  }
  .sel-placeholder:hover::before {
    color: $link-hover-color;
  }
  .active .sel-placeholder {
    color: lighten($text-inactive, 10%);
    border-radius: 8px 8px 0 0;
  }


  .option-container {
    position: absolute;
    width: 100%;
    background-color: $background;
    z-index: 1;


    > div {
      @extend %gray-border;
      border-radius: 0;
      border-top: 0;
      &:last-child {
        border-radius: 0 0 8px 8px;
      }
      &:hover {
        background-color: $spacer-color;
      }
      &.selected::after {
        display: inline;
        content: '\f00c'; /* check */
        font-family: 'icomoon';
        font-size: 0.75em;
        margin-left: 5px;
      }
    }
    animation: show 0.3s;
    @keyframes show {
      from {opacity: 0;}
      to {opacity: 1;}
    }
  }

  /* Checkbox */
  .checkbox {
    @extend %no-collapse-on-children-float;

    input[type='checkbox']:checked + label {
      background-color: $spacer-color;
    }
    label {
      @extend %gray-border;
      height: 20px;
      line-height: 20px;
    }
    small {
      height: 24px;
      line-height: 24px;
    }
    label, small {
      float: left; /* prevent 100% width */
      padding: 0 5px;
    }
    
  }

  /* Big buttons */
  .big-button {
    @extend %gray-border;
    height: 36px;
    line-height: 36px;
    text-align: center;
  }


  /* Dataset bookmarks */
  $bookmark-top-margin: 40px;
  $bookmark-height: 20px;
  $bookmark-width: 20px;
  $triangle-height: 13px;
  $dataset-tooltip-height: 76px;
  $dataset-tooltip-width: 150px;
  $dataset-tooltip-padding: 8px;
  .bookmark {
    cursor: pointer;
  }
  .mark {
    position: absolute;
    top: $bookmark-top-margin;
    margin-left: -$bookmark-width / 2;

    > div {
      position: absolute;
      > div {
        position: absolute;
      }
    }
  }
  .rectangle, .rectangle > div {
    @extend %gray-border;
    width: $bookmark-width - 4px;
    height: $bookmark-height - 4px;
  }
  .rectangle {
    background: $spacer-color;
    border-radius: 4px 4px 0px 0px;
    > div {
      background: $background;
      border-radius: 2px 2px 0px 0px;
      height: $bookmark-height - 2px;
      border: 0;
    }
  }
  .triangle, .triangle > div {
    border-style: solid;
    border-color: transparent;
  }
  .triangle {
    border-top-color: $spacer-color;
    border-left-width: $bookmark-width / 2;
    border-right-width: $bookmark-width / 2;
    border-top-width: $triangle-height;
    top: $bookmark-height;
    > div {
      border-top-color: $background;
      border-left-width: $bookmark-width / 2 - 2px;
      border-right-width: $bookmark-width / 2 - 2px;
      border-top-width: $triangle-height - 2.5px;
      top: -$triangle-height - 0.5px; /* Added 0.5px to account for pythagoras */
      left: -$bookmark-width / 2 + 2px;
    }
  }
  .dataset-tooltip {
    @extend %gray-border;
    position: absolute;
    display: none;
    padding: $dataset-tooltip-padding;
    width: $dataset-tooltip-width - 2 * $dataset-tooltip-padding;
    height: $dataset-tooltip-height - 2 * $dataset-tooltip-padding;
    margin-left: -$dataset-tooltip-width / 2;
    top: $bookmark-top-margin - $dataset-tooltip-height - 6px;
    background: $background;

    h1, p, i {
      font-size: 12px;
    }
    h1 {
      margin-bottom: 2px;
    }
  }
  .bookmark.selected {
    .mark > div > div {
      display: none;
    }
    .dataset-tooltip {
      background: $spacer-color;
    }
  }
  .bookmark:hover {
    .mark > .rectangle {
      border-radius: 0px;
      height: $bookmark-height;
      top: -4px;
      > div {
        border-radius: 0px;
        height: $bookmark-height + 4px;
        top: -2px;
      }
    }
    .dataset-tooltip {
      display: block;
    }
  }


  /* Datasets */
  #set-datasets {
    position: relative;
    height: 100px;
  }

  #timeline {
    position: absolute;
    top: $bookmark-top-margin + $bookmark-height + $triangle-height;
    width: 100%;

    #timeline-line {
      position: absolute;
      height: 2px;
      width: calc(100% - 10px); /* width of pointer-55 */
      background: $text-color;
    }

    #timeline-pointer-55 {
      position: absolute;
      top: -5px;
      right: 0;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-left: 10px solid $text-color;
      border-bottom: 6px solid transparent;
    }

    .timeline-tick {
      position: absolute;
      width: 2px;
      height: 10px;
      top: -4px;
      background: $text-color;
    }
    .timeline-tick[data-value='0'] {
      left: 0;
    }
    .timeline-tick[data-value='16'] {
      left: calc(100% / 55 * 16);
    }
    .timeline-tick[data-value='25'] {
      left: calc(100% / 55 * 25);
    }
    .timeline-tick[data-value='34'] {
      left: calc(100% / 55 * 34);
    }
    .timeline-tick[data-value='45'] {
      left: calc(100% / 55 * 45);
    }

    .timeline-label {
      position: absolute;
      top: 8px;
      text-align: center;
    }
    .timeline-label[data-value='l1'] {
      left: 0;
      width: calc(100% / 55 * 16);
    }
    .timeline-label[data-value='l2'] {
      left: calc(100% / 55 * 16);
      width: calc(100% / 55 * 9);
    }
    .timeline-label[data-value='l3'] {
      left: calc(100% / 55 * 25);
      width: calc(100% / 55 * 9);
    }
    .timeline-label[data-value='l4'] {
      left: calc(100% / 55 * 34);
      width: calc(100% / 55 * 10);
    }
    .timeline-label[data-value='adult'] {
      left: calc(100% / 55 * 45);
      width: calc(100% / 55 * 10);
    }
  }

  /* Threshold */
  .number-input-label {
    float: left;
  }
  .number-input-label, .number-input {
    height: 20px;
    line-height: 20px;
  }
  .number-input {
    @extend %gray-border;
    @extend %no-collapse-on-children-float;
    width: calc(104px + 4px); /* children and dividers */
    float: right;

    input, .button {
      float: left;
      text-align: center;
      font-size: 12px;
    }
    input {
      display: block; /* all other inputs are hidden */
      width: 56px;
    }
    .button {
      @extend %non-selectable;
      border: 0 solid $spacer-color;
      width: 24px;
      &:first-child {
        border-right-width: 2px;
      }
      &:last-child {
        border-left-width: 2px;
      }
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  .error-input {
    border-color: $warning-color;
    box-shadow: 0 0 12px $warning-color;
  }
}


/* Infobar */
#infobar-container {
  display: none; /* changed with js */
  position: absolute;
  z-index: 20;

  > div { /* transition cancels jQuery fade, so separate div is required */
    transform: translateX(-($searchbar-width + $site-padding * 2));
    transition: 0.2s ease-in-out;
  }
  &.open > div {
    transform: translateX(0);
  }
  &, > div {
    height: 100%;
    top: 0;
    left: 0;
  }
}

#infobar {
  position: absolute;
  width: $searchbar-width + $site-padding * 2;
  height: calc(100% - #{$searchbar-height + $site-padding * 2});
  padding-top: $searchbar-height + $site-padding * 2;
  background-color: $light-blue;
}
.open #infobar {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#infobar-toggle {
  background-color: $background;
  position: absolute;
  top: $searchbar-height + $site-padding * 3;
  left: $searchbar-width + $site-padding * 2;
  width: 20px;
  height: 50px;
  line-height: 50px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  &::before {
    display: block;
    text-align: center;
    color: $text-subtle;
    font-family: 'icomoon';
  }
  &:hover::before {
    color: $link-color;
  }
  @extend .icon-info;
}
.open #infobar-toggle {
  @extend .icon-caret-left;
}


#cell-info {
  border-top-width: 1px;
  height: calc(100% - 1px);
  width: 100%;
  overflow-y: auto;
  background-color: white;
  border-top-color: $spacer-color;
}
