name: Main

on:
  push:
    branches:
      - master
      - development

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
        ports:
        - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
    - name: Verify MySQL connection from host
      run: |
        sudo apt-get install -y mysql-client
        mysql --host 127.0.0.1 --port 3306 -uroot -ppassword -e "SHOW DATABASES"
    - uses: actions/checkout@v2
    - name: Create database
      run: |
        scripts/setup_config.sh nemanode root password | mysql --host 127.0.0.1 --port 3306 -uroot -ppassword
    - name: Install dependencies
      run: |
        npm ci
    - name: Populate database
      run: |
        npm run populate-database
    - name: Run tests
      run: |
        npm run test